$def with(data)
<!DOCTYPE HTML>
<html>
  <head>
    <title>Penrose Tilings</title>
    <script type="text/javascript">
      // Echo out the custom function to make it a little faster
      var custom = function(a,b) { return $data["custom"]; };
    </script>
    <script type="text/javascript" src="static/lib/jquery.js"></script>
    <script type="text/javascript" src="static/lib/jquery.svg.pack.js"></script>
    <script type="text/javascript" src="static/lib/jquery.svgdom.js"></script>
    <script type="text/javascript" src="static/lib/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="static/lib/js/colorpicker.js"></script>
    <script type="text/javascript" src="static/lib/underscore-min.js"></script>
    <script type="text/javascript" src="static/lib/jquery-svgpan.min.js"></script>
    <script type="text/javascript" src="static/penrose.js"></script>
    <script type="text/javascript" src="static/script.js"></script>
    <link rel="icon" type="image/png" href="static/favicon2.png"/>
    <link type="text/css" rel="stylesheet" href="static/reset.css"/>	
    <link type="text/css" rel="stylesheet" href="static/lib/jquery-ui-1.8.18.custom.css"/>	
    <link rel="stylesheet" media="screen" type="text/css" href="static/lib/css/colorpicker.css" />
    <link type="text/css" rel="stylesheet" href="static/style.css"/>	
  </head>

  <body>
  <div id="penrose" depth="$data["depth"]" colors="$data["colors"]" method="$data["method"]"></div>

    <div id="control">
      <div id="menu">
        <h2 id="control">Controls</h2>
        <h2 id="use">How to Use</h2>
        <h2 id="about">About</h2>
      </div>



      <div id="usediv" class="content">
        <p>Even if the controls might look a little daunting, they should be 
        fairly intuitive to use. Just play around and see what happens.</p>
        <p>When you've made a nice design, you can either share it as a link, 
        or download it as an svg. If you want to use it as a desktop background, save 
        the svg-file and open the file with <a href="http://inkscape.org/">Inkscape</a> 
        or <a href="http://www.fileinfo.com/extension/svg">One of these</a> to convert 
        it to a png.</p>
        <p>The Detail slider regulates how many times the pattern is 
        recursively repeated, where as the colors slider sets the number of colors used 
        to color the image. The generative function is explained a bit in the About 
        section. You can play around with it, using a and b as variables.</p>
      </div>




      <div id="aboutdiv" class="content">
        <p>If you are curious about Penrose Tilings, wikipedia has a pretty 
        good <a href="http://en.wikipedia.org/wiki/Penrose_tiling" title="Penrose 
        Tiling">Article</a> about it. Outside of being pretty that have some curious 
        properties.</p>
        <p>The pattern is generate by starting with two dart triangles combined to form a rhombe (the fat one of the Penrose rhombes). They are then recursively split 
        into smaller congruent triangles, as demonstrated <a 
        href="http://www.ams.org/samplings/feature-column/fcarc-ribbons" title="A good 
        article about penrose tilings">here</a>.</p>
        <p>The 'Generator' function in the controls is a way to assign a color 
        to each triangle in the pattern. The position of each triangle can be described 
        as a series of numbers. For example a triangle with the position [1, 2, 3], 
        would mean that it is the third child of the second child of the root triangle.  
        The generator takes this position and either sums, multiplies or 
        concatenates the numbers modulus the amount of colors.</p>

        <p>If you are enjoing this site I'd love to hear about it. You can 
        reach me on <a href="mailto:jonas@ifany.org">jonas@ifany.org</a>. You are also 
        welcome to check out my photographies on <a href="http://www.ifany.org" 
        title="Ifany.org">www.ifany.org</a>.</p>

        <p>To construct this site I've used <a 
        href="http://jquery.com/">JQuery</a>, as well as plugins for the <a 
        href="http://www.eyecon.ro/colorpicker">color picker</a>, <a 
        href="http://keith-wood.name/svg.html">svg creation</a> and <a 
        href="http://jqueryui.com/">JQuery UI</a> for the sliders.</p>

        <p class="signature">Jonas Arnfred</p>
      </div>




      <div id="controldiv" class="content">
        <form method="get" action="index.html" onSubmit="return false;">
          <div id="parameters">

            <div id="depthdiv" class="params">
              <div class="paramlabel"><label class="header" for="depth">Amount of detail</label>
              <span class="count">$data["depth"]</span></div>
              <select name="depth" class="slide" id="depth">
                $for i in range(1, 12):
                    $ selected = "selected='selected'" if i == int(data["depth"]) else ""
                    <option $:selected>$i</option>
              </select>
            </div>

            <div id="colorsdiv" class="params">
              <div class="paramlabel"><label class="header" for="colors">Number of colors</label>
              <span class="count">$data["colors"]</span></div>
              <select name="colors" class="slide" id="colors">
                $for i in range(1, 50):
                    $ selected = "selected='selected'" if i == int(data["colors"]) else ""
                    <option $:selected>$i</option>
              </select>
            </div>

            <div id="bordersdiv" class="params">
              <div class="paramlabel"><label class="header">Boundary Box</label>
              <div id="borderInputs">
                <label class="header" for="borderWidth">Width:</label>
                <input id="borderWidth" class="borderInput" name="width" value="$data["width"]"/>
                <label class="header" for="borderHeight">Height:</label>
                <input id="borderHeight" class="borderInput" name="height" value="$data["height"]"/>
              </div>
              </div>
          </div>



            <div id="method" class="params">
              <label class="header" for="method">Color Generator</label>
              $ checked_add = "checked" if data["method"] == "add" else ""
              $ checked_multiply = "checked" if data["method"] == "multiply" else ""
              $ checked_concat = "checked" if data["method"] == "concat" else ""
              $ checked_custom = "checked" if data["method"] == "custom" else ""
              <span><input type="radio" $checked_add name="method" class="method" value="add">Add</input></span>
              <span><input type="radio" $checked_multiply  name="method" class="method" value="multiply">Multiply</input></span>
              <span><input type="radio" $checked_concat  name="method" class="method" value="concat">Concat</input></span>
              <span><input type="radio" $checked_custom  name="method" class="method" value="custom" id="customradio" >Custom</input></span>
              <input class="custom" id="custom" type="text" name="custom" value="$data["custom"]" /><input id="custombutton" class="custom" type="button" name="set" value="Set" />
            </div>


            <div id="ewdiv" class="params">
              <label class="header" for="e">Edge</label>
              <input id="e" type="checkbox" name="e" $("checked" if (data["e"] == "on") else "" ) />
              <label for="colorselector">Color</label>
              <div id="edge" class="edge colorselector" style="z-index:4; background-color:#$data["ec"]"></div>
              <span class="count">$( (int(data["ew"]) / 10.0) )</span>
              <label style="float:right;" for="colorselector">Width</label>
              <select name="ew" class="slide" id="ew">
                $for i in range(1, 40):
                    $ selected = "selected='selected'" if i == int(data["ew"]) else ""
                    <option $:selected>$i</option>
              </select>
              <input id="edgehidden" type="hidden" value="$data["ec"]" name="ec"/>
            </div>


            <div id="colors" class="params">
              <label class="header" id="colorsel">Color Gradient</label>
              <div id="colorheader" class="colorheader">
                <span id="rhombe"></span>
                <span id="type1" class="rhombetype">Kite</span>
                <span id="type2" class="rhombetype">Dart</span>
              </div>

              <div class="colorrow">
                <label>Start</label>
                <div id="startkite" type="kite" class="start colorselector" style="background-color:#$data["ks"]"></div>
                <div id="startdart" type="dart" class="start colorselector" style="background-color:#$data["ds"]"></div>
                <input id="startkitehidden" type="hidden" value="$data["ks"]" name="ks"/>
                <input id="startdarthidden" type="hidden" value="$data["ds"]" name="ds"/>
              </div>
              <div class="colorrow">
                <label>End</label>
                <div id="endkite" type="kite" class="end colorselector" style="background-color:#$data["ke"]"></div>
                <div id="enddart" type="dart" class="end colorselector" style="background-color:#$data["de"]"></div>
                <input id="endkitehidden" type="hidden" value="$data["ke"]" name="ke"/>
                <input id="enddarthidden" type="hidden" value="$data["de"]" name="de"/>
              </div>
            </div>

            <div id="download" class="params">
              <label class="header">Share</label>
              <div id="shareLinks">
                <div><a id="downsvg" download="penrose.svg" href="#">Download Svg</a></div>
                <div><a id="link" href="#">Link to Design</a></div>
              </div>
            </div>

          </div>

          <div><span class="hide blah">Hide</span></div>


          $if "hidden" in data:
            $for h in data["hidden"]:
              <input type="hidden" value="$h" name="hidden" />

        </form>
      </div>
    </div>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.dynkarken.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 4]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.dynkarken.com/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

  </body>
</html>
